$bluepalette: (
    50 : #f9fcfe,
    100 : #f1f6fb,
    200 : #e7f1f9,
    300 : #ddebf7,
    400 : #d6e6f5,
    500 : #cfe2f3,
    600 : #cadff1,
    700 : #c3daef,
    800 : #bdd6ed,
    900 : #b2cfea,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$redpalette: (
    50 : #fef9f9,
    100 : #fcf0f0,
    200 : #fae6e6,
    300 : #f7dbdb,
    400 : #f6d4d4,
    500 : #f4cccc,
    600 : #f3c7c7,
    700 : #f1c0c0,
    800 : #efb9b9,
    900 : #ecadad,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$orangepalette: (
    50 : #fcf2e7,
    100 : #f8dec3,
    200 : #f3c89c,
    300 : #eeb274,
    400 : #eaa256,
    500 : #e69138,
    600 : #e38932,
    700 : #df7e2b,
    800 : #db7424,
    900 : #d56217,
    A100 : #ffffff,
    A200 : #ffe3d4,
    A400 : #ffc3a1,
    A700 : #ffb287,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
@use '@angular/material' as mat;

@include mat.core();

$my-primary: mat.define-palette($bluepalette, 300);
$my-accent: mat.define-palette($redpalette,300);
$my-warn: mat.define-palette($orangepalette,300);


$my-light-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn:$my-warn
 ),
 typography: mat.define-typography-config(),
 density: 0,
));

$my-dark-theme: mat.define-dark-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn:$my-warn
 ),
 typography: mat.define-typography-config(),
 density: 0,
));

@include mat.all-component-themes($my-light-theme);

.dark-mode{
  @include mat.all-component-colors($my-dark-theme);
}
